.counter {
    border: 1px solid var(--button-border);
    border-radius: 15px;
    height: 50px;
    margin-top: 0;
    margin-left: 5px;
    width: 215px;
    padding: 5px;
} 

.counter button{
 padding: 5px;
 margin: auto;
 width: 90px;
}
.counter p{
    width: 35px;
    text-align: center;
    padding: 5px;
}